/.WhdslDescriptionLabelProvider.java._trace
/.WhdslDescriptionLabelProvider.xtendbin
/.WhdslLabelProvider.java._trace
/.WhdslLabelProvider.xtendbin
/WhdslDescriptionLabelProvider.java
/WhdslLabelProvider.java
